<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FlightSimulator.Properties.Settings>
            <setting name="redis_server" serializeAs="String">
                <value>controller.local</value>
            </setting>
            <setting name="redis_port" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="clock_interval" serializeAs="String">
                <value>1000</value>
            </setting>
        </FlightSimulator.Properties.Settings>
    </applicationSettings>
</configuration>